{% extends 'start_page_profile.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <hr class="hr-xs">

    <!-- Окно добавления продукта для пользователя с расчетом калорий -->

    <div id="chose" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title title_h4">Расчет КилоКалорий</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <p>
                <form id = "formchose" action="" method="post">{% csrf_token %}
                    {{ form|crispy }}
                    <table id="product_user">
                    {% for product in user_chose_product %}
                        <tr>
                            <td><em>{{product.label_tag}}</em></td>
                            <td class="border-left">{{ product }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                </form>
            </p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
              <button id="chose_inp" class="btn btn-secondary" name = "chose">Сохранить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="on_page">
        {% if profile_current_user.count > 0 %}
            {% for pole in profile_current_user %}
                <div class="col-md-offset-2 col-md-6 col-lg-offset-3 col-lg-4">
                    <div class="profile">
                        <div class="col-sm-12 profile">
                                <figure>
                                    <p><img src="/{{ pole.photo.url }}"></p>
                                </figure>
                                <h2 class='title_h4'>{{ pole.username }}</h2>
                                <p><strong>Обо мне: </strong></p>
                                <p><strong>Дата рождения: </strong> {{ pole.date_born }} </p>
                                <p><strong>Вес: </strong> {{ pole.weight }} </p>
                                <p><strong>Рост: </strong> {{ pole.height }} </p>
                        </div>
                        <button id ="add_profile" class = "btn btn-secondary">Изменить данные профиля</button>
                    </div>
                </div>
                <div class="col border-left">
                    <div class="row">
                        <div class="col-5"><h2 class='title_h4'>Мои продукты:</h2></div>
                        <div class="col-3">
                            <button id ="chose_new_product" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">Добавить продукт</button>
                        </div>
                        <div class="col-4"><button id="add_new_product" class="btn btn-secondary">Предложить продукт</button></div>
                    </div>
                    <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                            <th scope="col">Продукт</th>
                            <th scope="col">Количество</th>
                            <th scope="col">К-во КилоКалорий</th>
                            <th scope="col">Дата</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for product in profile_product_user %}
                        <tr>
                            <td>{{ product.name_product }}</td>
                            <td>{{ product.amount_food }}</td>
                            <td>{{ product.count_calories }}</td>
                            <td>{{ product.data_time_add_product }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row">
            <div class="col">
                <div class="col-sm-12 profile">
                    <h2 class='title_h4'>Дополнить данные профиля {{ user.username }}</h2>

                    <hr class="hr-xs">

                    <form id = "formadd" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <table>
                        {% for field in person_form %}
                            <tr>
                                <td><em>{{field.label_tag}}</em></td>
                                <td class="border-left">{{ field }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                        <input name="add_profile" type="submit" value="Сохранить">
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

<hr class="hr-xs">
{% endblock %}
