.title_h4{
    font-style: italic;
    font-weight: bold;
    color: #191970;
}

.profile{
    min-height: 355px;
    display: inline-block;
}

.border-left {
    border-left: 1px solid #ddd;
}






