{% extends 'start_page.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/autorization_registration.css' %}">
{% endblock css%}

{% block js %}
{% endblock js %}

{% block content %}
    <hr class="hr-xs">

    <form class="login-block" action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <div>

            <input class="btn btn-secondary" type="submit" value="Регистрация">
            <a href="{% url 'social:begin' 'facebook' %}"><img src="{% static 'pictures/facebook.png'%}"></a>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'pictures/google1.png'%}"></a>

            <hr class="hr-xs">

        </div>
    </form>
{% endblock %}